---
/**
 * TestimonialItem Component - Oveco
 * Item de témoignage détaillé avec citation, auteur et note
 * 
 * @component
 * @tinacms Utilisé dans templates de témoignages
 */

export interface Props {
  testimonial: {
    content: string;
    client_name?: string;
    client_position?: string;
    client_company?: string;
    thumbnail?: {
      src: string;
      alt: string;
    };
    rating?: number;
    stars_html?: string;
    linked_project?: {
      title: string;
      link: string;
    };
    priority?: {
      slug: string;
    };
  };
  show_rating?: boolean;
  show_project?: boolean;
}

const { testimonial, show_rating = false, show_project = false } = Astro.props;

// Convertir les sauts de ligne en <br> pour la citation
const formattedContent = testimonial.content.replace(/\n/g, '<br>');
---

<article class:list={[
  'testimonial-item',
  testimonial.priority && `testimonial-item--${testimonial.priority.slug}`
]}>
  <div class="testimonial-item__content">
    <blockquote class="testimonial__quote" set:html={formattedContent} />
    
    <div class="testimonial-item__meta">
      <div class="testimonial__client">
        {testimonial.thumbnail && (
          <img 
            src={testimonial.thumbnail.src} 
            alt={testimonial.thumbnail.alt || testimonial.client_name || 'Client'}
            class="testimonial__avatar"
            loading="lazy"
          />
        )}
        
        <div class="testimonial__details">
          {testimonial.client_name && (
            <cite class="testimonial__author">{testimonial.client_name}</cite>
          )}
          
          {(testimonial.client_position || testimonial.client_company) && (
            <span class="testimonial__company">
              {testimonial.client_position && <>{testimonial.client_position}</>}
              {testimonial.client_position && testimonial.client_company && <>, </>}
              {testimonial.client_company && <>{testimonial.client_company}</>}
            </span>
          )}
        </div>
      </div>
      
      {show_rating && testimonial.rating && testimonial.stars_html && (
        <div class="testimonial__rating" set:html={testimonial.stars_html} />
      )}
      
      {show_project && testimonial.linked_project && (
        <div class="testimonial__project">
          <a href={testimonial.linked_project.link}>
            Voir le projet: {testimonial.linked_project.title}
          </a>
        </div>
      )}
    </div>
  </div>
</article>

<style lang="scss">
  @use '../assets/scss/astro-components' as *;
  @use '../assets/scss/components/_testimonials' as *;
</style>
